* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  background-color: #ff00ff;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

.flex-box {
  width: 140px;
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: #fff;
}

.main-visual > :first-child {
  margin-right: auto;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.sideber {
  width: 300px;
  background-color: palegreen;
}
.main1 {
  max-width: 700px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 1;
  padding: 20px;
}

.main-box {

  width: 200px;
  height: 130px;
  flex-basis: 200px;
  background-color: #fff;
  margin: 10px;
}
footer {
  width: 100%;
  background-color: blue;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

footer > :last-child {
  margin: 0 auto;
}

.footer-box {
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: skyblue;
}